.button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: #c70101;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    &_main {
        width: 300px;
        height: 50px;
        border-radius: 5px;
        background-color: #c70101;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 67px;
    }
    &_first {
        margin-top: 12px;
    }
}