.consultation {
    max-height: 680px;
    background: url(../img/bg_cosultation.jpg) center (center/cover) no-repeat;
    padding: 100px 0 92px;
    &__header {
        margin: 0;
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__subheader {
        width: 396px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        margin-top: 80px;
    }
}