@import 'base/variables';
* {
    font-family: 'Museo Sans Cyril', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'header';
@import 'promo';
@import 'buttons';
@import 'advantages';
@import 'consultation';
@import 'media';
