@import 'base/variables';
@import 'base/mixins';
@import 'base/animation';

* {
    font-family: 'Museo Sans Cyril', sans-serif;
}
.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/titles';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feed';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
@import 'blocks/media';


