@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Museo Sans Cyril', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}
@import 'header';
@import 'promo';
@import 'buttons';
@import 'advantages';
@import 'consultation';
@import 'media';
@import 'titles';
@import 'forms';
@import 'carousel';
@import 'catalog';


