@media (max-width: 991px) {
    .promo {
        padding-bottom: 60px;
        .header {
            &__logo {
                width: 33%;
            }
            &__official {
                font-size: 11px;
                span {
                    font-size: 17px;
                }
            }
            &__contacts {
                .button_first {
                    width: 140px;
                    margin: 0;
                }
            }
            &__phone {
                font-size: 16px;
                height: 30%;
            }
        }
        &__header {
            font-size: 37px;
            margin-bottom: 20px;
        }
        &__subheader {
            margin: 0;
        }
    }

    .advantages {
        padding: 35px 0 65px;
        .title {
            font-size: 26px;
        }
        &__subheader {
            font-size: 16px;
            margin-bottom: 20px;
        }
        &__descr {
            font-size: 12px;
        }
    }

    .consultation {
        padding: 90px 0 90px;
        .title_left {
            font-size: 26px;
        }
        &__descr {
            font-size: 18px;
        }
        .feed-form {
            width: 270px;
            input {
                height: 45px;
            }
            .button_submit {
                height: 50px;
                font-size: 15px;
            }
        }
    }
    
    .catalog-item {
        width: 40%;
        margin-bottom: 30px;
    }

    .feed {
        &__text {
            padding-right: 20px;
        }
        &__item {
            align-items: center;
        }
        &__name {
            font-size: 16px;
        }
        span {
            font-size: 13px;
        }
        &__descr {
            font-size: 15px;
        }
    }
    
    .footer {
        height: 530px;
        &__info {
            padding: 39px 39px 43px;
            width: 50%;
            height: 250px;
        }
        iframe {
            height: 530px;
        }
    }
}

@media (max-width: 768px) {
    .promo {
        min-height: auto;
        max-height: 610px;
        &__header {
            font-size: 30px;
            margin-bottom: 15px;
        }
        &__subheader {
            font-size: 17px;
        }
        &__icons {
            width: 65%;
        }
        &__icon {
            width: 24%;
            font-size: 11px;
            img {
                width: 45%;
            }
        }
        .button_main {
            width: 45%;
            height: 40px;
            font-size: 13px;
        }
        &__link {
            font-size: 13px;
            margin-top: 10px;
        }
        .header {
            &__official {
                font-size: 10px;
                span {
                    font-size: 15px;
                }
            }
            &__contacts {
                width: 145px;
                .button_first {
                    width: 135px;
                }
            }
            &__phone {
                font-size: 15px;
                width: 100%;
            }
        }
    }

    .advantages {
        padding: 35px 0 60px;
        .title {
            font-size: 23px;
        }
        &__item {
            max-width: 32%;
            img {
                margin-bottom: 28px;
                width: 40%;
            }
        }
        &__subheader {
            font-size: 12px;
            margin-bottom: 12px;
        }
        &__descr {
            font-size: 10px;
        }
    }

    .consultation {
        .title_left {
        font-size: 22px;
        }
        &__descr {
            font-size: 17px;
            margin-top: 65px;
        }
        .feed-form {
            width: 45%;
            input {
                height: 40px;
                padding: 10px 10px;
            }
            .button_submit {
                height: 45px;
                font-size: 13px;
            }
        }
    }
    
    .catalog {
        &__tab {
            width: 30%;
            font-size: 16px;
            line-height: 2.5;
            height: 43px;
        }
        &-item {
            width: 45%;
            &__descr {
                width: 80%;
                margin: 0 auto;
                margin-top: 20px;
                font-size: 13px;
            }
            &__subtitle {
                font-size: 15px;
            }
            &__content_active {
                height: 395px;
            }
            &__wrapper {
                height: 395px;
            }
            &__link {
                &:focus {
                    outline: none;
                }
            }
            &__back {
                &:focus {
                    outline: none;
                }
            }
        }   
    }

    .feed {
        .title {
            font-size: 26px;
        }
        &__text {
            padding-right: 10px;
        }
        &__name {
            font-size: 14px;
        }
        span {
            font-size: 10px;
        }
        &__descr {
            font-size: 12px;
        }
        &__img {
            height: 159px;
            max-width: 159px;
            margin-right: 60px;
        }
    }
    
    .footer {
        height: 450px;
        &__info {
            padding-bottom: 38px;
        }
        &__addr {
            margin-bottom: 25px;
        }
        &__phone {
            margin-bottom: 34px;
        }
        &__social-item {
            width: 45px;
            height: 45px;
            img {
                height: 20px;
            }
        }
        iframe {
            height: 450px;
        }
    }

}

@media (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 1%;
    }
    .promo {
        .header {
            &__official {
                display: none;
            }
            &__logo {
                width: 45%;
            }
            &__contacts {
                width: 45%;
                .button_first {
                    width: 80%;
                    font-size: 10px;
                }
            }
            &__phone {
                display: none;
            }
        }
        &__header {
            font-size: 18px;
            margin-bottom: 5px;
        }
        &__subheader {
            font-size: 10px;
        }
        &__icon {
            font-size: 9px;
            img {
                margin-bottom: 11px;
            }
        }
        &__link {
            font-size: 11px;
            margin-top: 5px;
        }
        .button_main {
            font-size: 11px;
            margin-top: 50px;
        }

    }

    .advantages {
        .title {
            font-size: 18px;
        }
        &__items {
            margin-top: 50px;
        }
        &__item {
            border: 1px solid red;
            img {
                margin-top: 5px;
            }
        }
        &__subheader {
            font-size: 10px;
            margin-bottom: 10px;
        }
        &__descr {
            font-size: 8px;
        }
    }

    .consultation {
        padding-top: 55px;
        min-height: 463px;
        .title_left {
            font-size: 11px;
        }
        &__descr {
            font-size: 9px;
            margin-top: 45px;
        }
        .feed-form {
            input {
                height: 30px;
                padding: 5px 5px 5px 10px;
                font-size: 11px;
            }
            .button_submit {
                height: 35px;
                font-size: 8px;
            }
        }
        label.error {
            margin-bottom: 11px;
            font-size: 11px;
        }
    }

    .carousel {
        display: none;
    }

    .catalog {
        padding: 30px 0 80px;
        .title {
            font-size: 17px;
        }
        &__tabs {
            margin-top: 60px;
        }
        &__tab {
            font-size: 10px;
            line-height: 1;
            height: 42px;
            padding-top: 13px;
        }
        &__content {
            justify-content: center;
        }
        &-item {
            width: 82%;
            &__list li {
                font-size: 12px;
            }
            &:last-child {
                margin: 0;
            }
        }
    }

    .feed {
        .title {
            font-size: 21px;
        }
        &__item {
            flex-direction: column;
        }
        &__img {
            margin: 0;
            margin-bottom: 15px;
        }
        &__text {
            padding-right: 0;
            text-align: center;
        }
        &__descr {
            width: 90%;
            margin: 0 auto;
            margin-top: 5px;
        }
        hr {
            width: 90%;
            margin: 50px auto;
        }
    }

    .footer {
        height: 370px;
        padding: 0 1%;
        &__info {
            padding: 10px;
            height: 160px;
        }
        &__addr {
            font-size: 11px;
        }
        &__phone {
            font-size: 11px;
            margin-bottom: 22px;
        }
        &__social-item {
            width: 30px;
            height: 30px;
            margin: 0 5px;
            img {
                height: 14px;
            }
        }
        iframe {
            height: 370px;
            .place-card .place-card-medium {
                display: none;
            }
        }
    }

    .pageup {
        bottom: 30px;
        right: 6px;
    }

    .modal {
        width: 66%;
        min-height: 334px;
        padding: 15px 30px 35px;
        &__close {
            top: 7px;
            right: 5px;
        }
    }

    .feed-form {
        width: 100%;
        margin-top: 20px;
        input {
            height: 40px;
            width: 100%;
            padding: 10px;
            font-size: 12px;
        }
    }
    
    .button_submit {
        height: 45px;
        font-size: 13px;
        padding: 0 4px;
    }
}